[*.{kt,kts}]
disabled_rules=import-ordering,no-wildcard-imports,package-name
max_line_length=200
indent_size=4
continuation_indent_size=4
android=true
ktlint_experimental_annotation_spacing=true
ktlint_experimental_chain_style_indicator=true
ktlint_experimental_comma_style_parent_chain=true
ktlint_experimental_enum-style=qualified
ktlint_experimental_multiline_after_last_line_on_rounding_bracket=true
ktlint_experimental_no-blank-line-before-rbrace=false
ktlint_experimental_rule_set_indicator_annotation=true
ktlint_experimental_trailing_comma_on_declaration_site=true
ktlint_experimental_trailing_comma_on_call_site=true
ktlint_experimental_use_trailing_comma=true
ktlint_experimental_wrapping_break_when_chain_size_gt_threshold=false

[*.md]
trim_trailing_whitespace=true

[*.{yml,yaml}]
indent_size=2
